@font-face {font-family: "iconfontua";
  src: url('//at.alicdn.com/t/font_1166601_ukjy21v4twb.eot?t=1568730797784'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1166601_ukjy21v4twb.eot?t=1568730797784#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1166601_ukjy21v4twb.woff?t=1568730797784') format('woff'),
  url('//at.alicdn.com/t/font_1166601_ukjy21v4twb.ttf?t=1568730797784') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1166601_ukjy21v4twb.svg?t=1568730797784#iconfontua') format('svg'); /* iOS 4.1- */
}

.iconfontua {
  font-family: "iconfontua" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iphone:before {
  content: "\e62e";
}

.icon-ipad:before {
  content: "\e7a7";
}

.icon-ipod:before {
  content: "\e761";
}

.icon-win8:before {
  content: "\e70c";
}

.icon-iconchromeos:before {
  content: "\e80b";
}

.icon-iconmacos:before {
  content: "\e80d";
}

.icon-xiaomi:before {
  content: "\e75d";
}

.icon-chrome:before {
  content: "\e658";
}

.icon-edge:before {
  content: "\e66a";
}

.icon-firefox:before {
  content: "\e67f";
}

.icon-globe:before {
  content: "\e696";
}

.icon-internet-explorer:before {
  content: "\e6b7";
}

.icon-linux:before {
  content: "\e6c1";
}

.icon-location-arrow:before {
  content: "\e6c2";
}

.icon-map-pin:before {
  content: "\e6c5";
}

.icon-map-marker:before {
  content: "\e6c6";
}

.icon-opera:before {
  content: "\e6d4";
}

.icon-qq:before {
  content: "\e6e4";
}

.icon-safari:before {
  content: "\e6ef";
}

.icon-search:before {
  content: "\e6f2";
}

.icon-wechat:before {
  content: "\e738";
}

.icon-weibo1:before {
  content: "\e737";
}

.icon-windows:before {
  content: "\e73e";
}

.icon-win:before {
  content: "\e6b6";
}

.icon-debian:before {
  content: "\e643";
}

.icon-liulanqi-jisu:before {
  content: "\e940";
}

.icon-liulanqi-aoyou:before {
  content: "\e946";
}

.icon-liulanqi-sougou:before {
  content: "\e947";
}

.icon-ucliulanqi:before {
  content: "\e71e";
}

.icon-liebaoliulanqi:before {
  content: "\e721";
}

.icon-coolapk:before {
  content: "\e66b";
}

.icon-kuakeliulanqi:before {
  content: "\e78e";
}

.icon-QQliulanqi:before {
  content: "\e7c6";
}

.icon-win3:before {
  content: "\e604";
}

.icon-macosdeicon:before {
  content: "\e6ba";
}

.icon-theworld:before {
  content: "\e62d";
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-meizu:before {
  content: "\e612";
}

.icon-yandex:before {
  content: "\e6e0";
}

.icon-win2:before {
  content: "\e601";
}

.icon-winphone:before {
  content: "\e7c5";
}

.icon-android:before {
  content: "\e797";
}

.icon-ubuntu:before {
  content: "\e602";
}

.icon-win_xp:before {
  content: "\e600";
}

.icon-fedora:before {
  content: "\e611";
}

.icon-MacOS:before {
  content: "\e605";
}

.icon-VIVO:before {
  content: "\e622";
}

.icon-kuan-copy:before {
  content: "\e949";
}

.icon-browser-360:before {
  content: "\e94a";
}

.icon-browser-baidu:before {
  content: "\e94b";
}

.icon-browser-2345:before {
  content: "\e94e";
}

.icon-browser-shenma:before {
  content: "\e94d";
}

.icon-browser-23451:before {
  content: "\e609";
}

.icon-jiandansousuo-1:before {
  content: "\e94f";
}

.icon-browser-qiyu:before {
  content: "\e9511";
}

